/* for font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

:root{
    --white: #eaeaea;
    --accent: #484d72;
    --light-accent: #878ec7;
    --black: #000000;
    --dark-gray: #4d4d4d;
    --gray: #f9f9f9;
    --blue-gray: #f7f7fb;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: var(--white);
}

section{
    min-width: 100%;
    min-height: 100vh;
    color: var(--white);
    background-color: var(--white);
}







/* navbar */


nav{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    background-color: var(--white);
    padding: 10px 64px;
    transition: all 0.1s ease-out;
    filter: drop-shadow(5px 5px 10px transparent);
}

/* navbar Sticky */

nav.sticky{
    background-color: var(--white);
    filter: drop-shadow(5px 5px 10px rgba(194,184,255,0.5));

}







/* navbar brand */
.logo{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}


.brand{
    text-decoration: none;
    transition: all ease-in-out;
    color: var(--white);
}

.brand h1{
    font-size: 32px;
    font-weight: bold;
    color: var(--black);
}

.accent{
    color: var(--accent);
}

.brand:hover{
    opacity: 0.8;
}





/* navbar menu */

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.menu a{
    display: inline-block;
    position: relative;
    color: var(--black);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.menu a::after{
    color: var(--light-accent);
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.2em;
    bottom: 0;
    left: 0;
    background: currentColor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menu a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


.btn{
    color: var(--dark-gray);
    font-size: 25px;
    cursor: pointer;
    display: none;
}


.btn-2{
    width: 160px;
    height: 50px;
    font-size: 20px;
    background-color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 12px;
    color: #ffffff;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    filter: drop-shadow(5px 5px 10px rgba(216, 216, 216, 0.2));
}

.btn-2:hover{
    background-color: var(--black);
    filter: drop-shadow(5px 5px 10px rgba(216,216,216,0.6));

}






/* signup */


#signup {
    background-color: var(--white);
    color: var(--black);
    padding: 80px;
  }
  
  .signup-container {
    max-width: 600px;
    height: 800px;
    margin: 0 auto;
    
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 30px;
    margin-top: 160px;
    color: var(--light-accent);
  }

  p{
    color: var(--black);
  }
  
  .form-group {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: var(--black);
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--black);
    border-radius: 5px;
  }
  
  button.btn-signup {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: var(--light-accent);
    color: var(--dark-gray);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button.btn-signup:hover {
    background-color: var(--white);
  }
  

  .signup-text {
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px; 
    color: var(--light-accent); 
  }

  .nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
  } 


  .btn-herogadget{
    width: 160px;
    height: 54px;
    border-radius: 16px;
    font-size: 20px;
    background-color: var(--white);
    color: var(--black);
    margin-top: 40px;
    transition: all 0.2 ease-out;
  }

  .btn-herogadget i{
    font-size: 24px;
  }

  .btn-herogadget:hover{
    background-color: var(--accent);
    color: var(--black);
}

  









/* footer section */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -200px;
}


.callout{
    background-image: url("img/callout-img-desktop.png");
    position: absolute;
    top: -200px;
    margin: 0px 50px;
    margin-top: 100px;
    height: 350px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    
}

.callout h2{
    font-size: 48px;
}

.callout-description{
    font-size: 24px;
    width: 886px;
    text-align: center;
    margin-top: 26px;
}

.callout-buttons{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.btn-callout{
    width: 240px;
    height: 60px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    background-color: var(--dark-gray);
    color:var(--black);
    border-radius: 8px;
}

.btn-callout p{
    color: var(--white);
}

.btn-callout:hover{
    background-color: var(--black);
    color: white;
    gap: 8px;
}

.btn-callout-black{
    background-color: var(--accent);
    color: var(--white) ;
}

.btn-callout-black:hover{
    background-color: var(--black);
    color: var(--white);
}

.footer-bottom{
    width: 100%;
    height: 276px;
    background-color: var(--white);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px 100px;
}

.footer-brand{
    font-size: 40px;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    transition: all ease-out 0.3s;
}

.footer-brand:hover{
    opacity: 0.6;
}

.socials{
    display: flex;
    gap: 18px;
}

.social-item{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid var(--black);
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: all ease-out 0.3s;
    cursor: pointer;
}

.social-item i{
    color: var(--black);
    font-size: 20px;
}

.social-item:hover{
    background-color: var(--black);
}






