/* for font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

:root{
    --white: #eaeaea;
    --accent: #484d72;
    --light-accent: #878ec7;
    --black: #000000;
    --dark-gray: #d5d5d5;
    --darkkk-gray: #9a9a9a;
    --gray: #f9f9f9;
    --blue-gray: #f7f7fb;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: var(--white);
}

section{
    min-width: 100%;
    min-height: 100vh;
    color: var(--white);
    background-color: var(--white);
}







/* navbar */

nav{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    background-color: var(--white);
    padding: 10px 64px;
    transition: all 0.1s ease-out;
    filter: drop-shadow(5px 5px 10px transparent);
}

/* navbar Sticky */

nav.sticky{
    background-color: var(--white);
    filter: drop-shadow(5px 5px 10px rgba(194,184,255,0.5));

}







/* navbar brand */
.logo{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.brand{
    text-decoration: none;
    transition: all ease-in-out;
    color: var(--black);
}

.brand h1{
    font-size: 32px;
    font-weight: bold;
    color: var(--black);
}

.accent{
    color: var(--accent);
}

.brand:hover{
    opacity: 0.8;
}

/* navbar menu */

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.menu a{
    display: inline-block;
    position: relative;
    color: var(--black);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.menu a::after{
    color: var(--light-accent);
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.2em;
    bottom: 0;
    left: 0;
    background: currentColor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menu a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


.btn{
    color: var(--white);
    font-size: 25px;
    cursor: pointer;
    display: none;
}


.btn-2{
    width: 160px;
    height: 50px;
    font-size: 20px;
    background-color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 12px;
    color: #ffffff;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    filter: drop-shadow(5px 5px 10px rgba(216, 216, 216, 0.2));
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin: 0 10px;
}

.btn-2:hover{
    background-color: var(--black);
    filter: drop-shadow(5px 5px 10px rgba(216,216,216,0.6));
    color: white;
}

.btn-secondary {
    background-color: var(--darkkk-gray);
    border-color: var(--darkkk-gray);
}

.btn-secondary:hover {
    background-color: var(--black);
    border-color: var(--black);
}

.btn-signup{
    width: 160px;
    height: 50px;
    font-size: 20px;
    background-color: var(--accent);
    border: 1px solid var(--accent);
    color: var(--white);
    border-radius: 8px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    filter: drop-shadow(5px 5px 10px rgba(216, 216, 216, 0.2));
}

.btn-signup:hover{
    background-color: var(--black);
    filter: drop-shadow(5px 5px 10px rgba(216,216,216,0.6));
}











/* hero page section */

.hero-page{
    margin-top: 90px;
    display: flex;
    padding: 0px 80px;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--white);
}

.hero-headlines{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 652px;
    margin-left: 30px;
    margin-top: 8vh;
    color: var(--black);
}

.hero-headlines h1{
    font-size: 56px;
    font-weight: bold;
    max-width: 700px;
    margin-top: 4vh;
}

.hero-headlines p{
    /* margin-top: 0vh; */
    font-size: 24px;
    font-weight: 400;
    opacity: 0.9;
}

.btn-hero{
    /* margin-top: 2vh; */
    width: 180px;
    height: 54px;
    font-size: 20px;
    background-color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 12px;
    color: #ffffff;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    filter: drop-shadow(5px 5px 10px rgba(216, 216, 216, 0.2));
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin: 0 10px;
}

.btn-hero:hover{
    background-color: var(--black);
    filter: drop-shadow(5px 5px 10px rgba(216,216,216,0.6));
    color: white;
}



.hero-page-img{
    max-width: 1400px;
    max-height: 560px;
    margin-top: 8vh;
}













/* about section */

.about{
    display: flex;
    flex-direction: column;
    color: var(--black);
    margin-top: 0px;
}

.about-container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-image: url("img/about_img.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
}

.about-container h1{
    font-size: 52px;
    font-weight: bold;
    width: 600px;
    text-align: center;
    margin-top: 66px;
    color: var(--black);
}

.about-sub-line{
    font-size: 20px;
    font-weight: medium;
    width: 822px;
    text-align: center;
    opacity: 0.8;
    color: var(--black);
    margin-top: 40px;
}

.about-info{
    display: flex;
    position: absolute;
    top: 300px;
    gap: 70px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.about-info-item{
    display: flex;
    flex-direction: column;
    background-color: var(--light-accent);
    color: var(--black);
    padding: 0px 35px 47px 40px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0));
    width: 350px;
    height: 414px;
    transition: all ease-out 0.2s;
    border-radius: 40px;
}

.about-info-item:hover{
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
}

.about-hr{
    width: 100%;
    position: absolute;
    border: 16px solid var(--accent);
    color: var(--accent);
    left: 0px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    opacity: 0.8;
}

.about-info-item img{
    width: 178px;
    height: 178px;
    margin-top: 45px;
}

.about-info-item h5{
    font-size: 26px;
}

.about-info-item p{
    font-size: 16px;
    margin-top: 8px;
}










/* products */

.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    background-color: var(--dark-gray);

    height: 1500px;

}

.products h1{
    font-size: 52px;
    font-weight: bold;
    margin-top: 8vh;
    color: var(--black);
}

.products-sub-line{
    font-size: 28px;
    font-weight: 400;
    margin-top: 4vh;
    opacity: 0.7;
    color: var(--black);
}

.products-container{
    display: flex;
    gap: 60px;
    row-gap: 60px;
    flex-wrap: wrap;
    margin-top: 10vh;
    justify-content: center;
}

.products-gadget-item{
    width: 360px;
    height: 470px;
    background-color: var(--darkkk-gray);
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.15));
    transition: all ease-in-out 0.3s;
}

.products-gadget-item:hover{
    filter: drop-shadow(8px 8px 8px rgba(0,0,0,0.5));
}

.products-gadget-item img{
    border-radius: 32px;
    width: 360px;
    height: 260px;
    padding: 10px;
}

.gadget-info, 
.gadget-price, 
.gadget-location{
    display: flex;    
}

.gadget-info{
    justify-content: space-between;
    align-items: center;
}

.gadget-price{
    gap: 0px;
    align-items: center;
}

.gadget-price h5{
    font-size: 24px;
}

.gadget-price h6{
    font-size: 20px;
    opacity: 0.6;
}

.gadget-location{
    gap: 8px;
    align-items: center;
    opacity: 0.5;
}

.gadget-location i{
    font-size: 20px;
}

.gadget-location h6{
    font-size: 20px;
}

.gadget-info-container h2{
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.btn-gadget{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 10px;
    border-radius: 32px;
    width: 172px;
    height: 50px;
    font-size: 16px;
}

.btn-gadget i{
    font-size: 16px;
}

.btn-gadget:hover{
    gap: 0px;
    transition: 0.3s;
}

.btn-herogadget{
    width: 200px;
    height: 60px;
    border-radius: 16px;
    font-size: 24px;
    background-color: var(--black);
    color: var(--white);
    margin-top: 60px;
    transition: all 0.2 ease-out;
}

.btn-herogadget i{
    font-size: 24px;
}

.btn-herogadget:hover{
    background-color: var(--light-accent);
    color: white;
}

.gadget-info-container{
    padding: 30px 30px 30px 30px;
}











/* review section */

.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    margin-top: 20vh;
}

.review h1{
    font-size: 54px;
    font-weight: bold;
    margin-top: -140px;
    color: var(--black);
}

.review-container{
    display: flex;
    grid-area: 24px;
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.review-item{
    width: 300px;
    height: 320px;
    border-radius: 32px;
    background-color: var(--light-accent);
    padding: 40px 50px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.15));
    transition: all 0.2s ease-out;
}

.review-item:hover{
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
}

.review-item p{
    margin-top: 30px;
    font-size: auto;
}

.review-people{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 16px;
}

.review-people h5{
    font-size: 28px;
}




















/* footer section */


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 0px;
}


.callout{
    background-image: url("img/callout-img-desktop.png");
    position: absolute;
    top: -200px;
    margin: 0px 50px;
    margin-top: 100px;
    height: 350px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.callout h2{
    font-size: 48px;
    color: var(--black);
}

.callout-description{
    font-size: 24px;
    width: 886px;
    text-align: center;
    margin-top: 26px;
    color: var(--black);
    opacity: 0.8;
}

.callout-buttons{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}


.btn-callout{
    width: 240px;
    height: 60px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    background-color: var(--darkkk-gray);
    color: var(--black);
    border-radius: 8px;
}

.btn-callout p{
    color: var(--white);
}

.btn-callout:hover{
    background-color: var(--black);
    color: white;
    gap: 8px;
}

.btn-callout-black{
    background-color: var(--accent);
    color: var(--white) ;
}

.btn-callout-black:hover{
    background-color: var(--black);
    color: var(--white);
}

.footer-bottom{
    width: 100%;
    height: 276px;
    background-color: var(--white);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px 100px;
}

.footer-brand{
    font-size: 40px;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    transition: all ease-out 0.3s;
}

.footer-brand:hover{
    opacity: 0.6;
}

.socials{
    display: flex;
    gap: 18px;
}

.social-item{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid var(--black);
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: all ease-out 0.3s;
    cursor: pointer;
}

.social-item i{
    color: var(--black);
    font-size: 20px;
}

.social-item:hover{
    background-color: var(--black);
}




